
/* For testing only */

*:not(body):not(html) {
  border:1px dotted #777;
}

.columns {
  min-height: 100px;
}

/* End for testing */

*{
  box-sizing: border-box;
}
body, html {
  margin: 0;
  padding: 0;
}

.header {
  background: #ddd;
}

.gallery {
  overflow: auto;
}

.gallery-item {
  background: #aaa;
}

@media screen and (min-width: 801px){
  .header {
    height: 15vh;
  }

  .gallery-item {
    width: 30vw;
    float: left;
    height: 29vh;
    display: inline-block;
    margin: 3vh 0 3vh 2.5vw;
  }
  .gallery {
    padding: 0;
    padding-top: 2vh;
  }
}

@media screen and (max-width: 800px){
  .gallery-item {
    width: 46vw;
    float: left;
    height: 24vh;
    display: inline-block;
    margin: 2vh 0 2vh 2.6vw;
  }
  .gallery {
    padding: 0;
    padding-top: 2vh;
  }
}

@media screen and (max-width: 420px){
 .gallery-item {
   height: 24vh;
   margin: 4vh 0;
   float: none;
   width: auto;
   display: block;
 }
 .gallery {
   padding: 0 3%;
 }
}
