/* For testing only */
/**:not(body):not(html) {
  border:1px dotted #444;
}
.columns {
  min-height: 100px;
}*/
/* End for testing */

*{
  box-sizing: border-box;
}
body, html, div {
  margin: 0;
  padding: 0;
  overflow: auto;
}

.logo-round {
  height: 4vh;
  width: 4vh;
  border-radius: 50%;
  background: #000;
  margin: 1vh;
  float: left;
}
.logo-rect {
  height: 2vh;
  width: 9vw;
  background: #000;
  margin: 1.5vh;
  float: left;
}

.nav {
  clear: left;
  width: 100vw;
}

.nav-item {
  height: 3vh;
  width: 24vw;
  background: #000;
  margin: 0.1vh;
  float: left;
}

.featured-image {
  width: 55vw;
  height: 55vw;
  border-radius: 50%;
  margin: 0 auto 0;
  background: #000;
}

.image-square {
  height: 15vh;
  background: #000;
  margin: 2vh 0;
}


div.featured-copy p {
    margin: 1vw;
}

div.featured-copy h2 {
    margin: 1.5vh 0.5vw;
}

.sidebar-image {
  height: 4vh;
  width: 4vh;
  background: #000;
  margin: 0 1vw;
  float: left;
}

div.sidebar-copy h2 {
  margin-top: 0;
  margin-bottom: 0;
}
div.sidebar-copy p {
  margin-top: 0.5vh;
}

/*MEDIA QUERIES*/
@media screen and (min-width: 800px){

}

@media screen and (min-width: 420px){

}
