
/* For testing only */

*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dotted #444;
}

.columns {
  min-height: 100px;
}

/* End for testing */



/*MEDIA QUERIES*/
@media screen and (min-width: 801px){

}

@media screen and (max-width: 800px){

}

@media screen and (max-width: 420px){

}
