/* For testing only */
*:not(body):not(html) {
  box-sizing:border-box;
  border: 1px dotted #444;
}
.columns {
  min-height: 100px;
}
/* End for testing */
*{
  box-sizing: border-box;
}
body, html {
  margin: 0;
  padding: 0;
}

.logo, .nav, .headline1, .headline2, .feature-image, .title, .copy{
  background: #777;
  color: #ddd;
}
.featured-item {
  background: #999;
}
.header {
  overflow: auto;
}

/*MEDIA QUERIES*/
@media screen and (min-width: 801px){

}

@media screen and (max-width: 800px){

}

@media screen and (max-width: 420px){
  .logo {
    height: 5vh;
    width: 33vw;
    float: left;
  }
  .nav {
    height: 3.5vh;
    width: 40vw;
    float: left;
    clear: left;
    margin: 1vh 0 3vh;
  }
  .headline1, .headline2 {
    height: 5vh;
    width: 95vw;
    margin: 2vh 0;
  }
  .feature-image{
    height: 100vw;
    width: 100vw;
  }
  /*.features {
    margin-top: 5vh;
  }*/

}
